.reducer_one_two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 0 3vw;
  padding: 2rem;
  border: 2px solid #000;
}

.first_reducer button {
  color: #FFF;
  background-color: blue;
  padding: 1rem;
}

input {
  color: #FFF;
  background-color: rgb(133, 133, 159);
  margin-left: 1.2rem;
}

li {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#remove {
  color: red;
  background-color: rgb(185, 239, 59);
  width: 2rem;
  margin-left: 1rem;
  padding: .2rem;
}

#clear {
  color: rgb(253, 250, 250);
  background-color: rgb(10, 27, 217);
  width: 4rem;
  margin-left: 1rem;
  padding: .2rem;
}

.show {
  width: 7vw;
  background: crimson;
  color: #FFF;
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

::placeholder {
  color: #FFF;
  font-weight: bold;
}

.third_reducer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.third_reducer input {
  padding: 1rem;
}

.third_reducer form {
  margin-bottom: 1rem;
}



